alembic               
aniso8601             
blinker               
click                 
Flask                 
Flask-Migrate         
Flask-RESTful         
Flask-SQLAlchemy     
greenlet              
importlib_metadata    
importlib_resources   
itsdangerous          
Jinja2                
Mako                  
MarkupSafe            
pip                  
pytz                  
setuptools            
six                   
SQLAlchemy            
SQLAlchemy-serializer 
typing_extensions     
Werkzeug              
zipp                  